@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Hot Reload Example</h1>       
    </div>
    <span style="white-space: pre-line">
        @Model.loaded
    </span>
